.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fafafa;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  margin-bottom: 1rem;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description,
.subTitle {
  text-align: center;
}

.description {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.subTitle {
  margin: 0;
  margin-top: 2rem;
  margin-bottom: 1rem;
  line-height: 0.95;
  font-size: 3rem;
}

.signUpFrom {
  text-align: center;
}
